.statItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255,255,255,0.05);

    /* איפוס הגדרות כפתור במקרה שנשתמש ב-<button> */
    background: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: 8px 0; /* קצת מרווח פנימי */
    width: 100%;
    height: 100%;
}

.statItem:last-child {
    border-right: none;
}

/* === התוספת: עיצוב לאייטמים לחיצים בלבד === */
.clickableStat {
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 8px; /* שההובר יהיה עגול ולא מרובע חד */
}

/* כשעוברים עם העכבר על הלחיצים */
.clickableStat:hover {
    background-color: rgba(91, 19, 236, 0.1); /* סגול שקוף */
}

/* המספר נצבע בסגול בהובר */
.clickableStat:hover .statNumber {
    color: var(--primary);
}

/* אפקט לחיצה עדין */
.clickableStat:active {
    transform: scale(0.98);
}

.btnFollowing {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    min-width: 90px;
    transition: all 0.2s;
}

.btnFollowing:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* כפתור "Follow" (סגול מלא) */
.btnFollow {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    min-width: 90px;
    box-shadow: 0 4px 10px rgba(91, 19, 236, 0.2);
    transition: all 0.2s;
}

.btnFollow:hover {
    background-color: var(--primary-hover);
    transform: translateY(-1px);
}




/*PROFILE*//*PROFILE*//*PROFILE*//*PROFILE*//*PROFILE*//*PROFILE*/

.followBtn {
    flex: 1;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: background 0.2s;
    box-shadow: 0 10px 15px -3px rgba(91, 19, 236, 0.2);
}

.followBtn:hover {
    background-color: var(--primary-hover);
}